* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* header and nav css  */
.header {
  background: #fff8f3;
  background-image: url(../assets/images/header_bg.png),
    url(../assets/images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  background: #fff8f3;
  padding: 50px;
}
.nav_titel {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
.p_color {
  color: #fd6e0a;
}

.btn-primary {
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 40px;
}

/* banner style */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner_title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner_sub_title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner_discription {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section */
.about {
  text-align: center;
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 150px;
  border-radius: 10px;
}
.section_title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.sec_ab_discrip {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

.about_info_container {
  display: flex;
  justify-content: space-around;
}
.info {
  font-size: 20px;
  color: #757575;
}
.discription {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
.about_info {
}

/* What I do style */
.whati_do {
  padding: 130px 150px;
  border-radius: 10px;
}
.skills_container{
  display: flex;
  gap: 24px;
}
.skill_title{
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill_discription{
  font-size: 16px;
  color: #757575;

}

.skill{
background-color: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;

}

/* resume Content  Design */
.resume_content{
  display: flex;
  gap: 24px;
}

.resume_item{
margin-bottom: 30px;
margin-top: 30px;
}
.resume_title{
font-weight: 700;
font-size: 25px;
color: #474747;
margin-bottom: 10px;
}
.Resume_sub_title{
color: #757575;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.Resume_Discripsion{
  color: #757575;
}

.btn_download{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-top: 30px;
}

/* Contact Section Design */
.contact_section{
    background-color: #fff8f3;

}
.contact_item{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 130px;
  background-color: #fff8f3;
  margin: 0px 200px;
  margin-top: 130px;
}
.lets_contact{
  margin-left: 80px;
  width: 50%;
}
.lets_contact_title{
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.connect_discripsion{
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
}

.lets_massage_me{
  width: 50%;
}
.massage_title{
    font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.name_type{
  display: block;
  padding: 20px;
  width: 80%;
  border: none;
  font-weight: 700;
  margin-bottom: 15px;
  border-radius: 10px;
}
.email_type{
  display: block;
  padding: 20px;
  width: 80%;
  border: none;
  font-weight: 700;
  margin-bottom: 15px;
  border-radius: 10px;
}
.text_message{
  display: block;
  padding: 20px;
  width: 80%;
  border: none;
  font-weight: 700;
  margin-bottom: 15px;
  border-radius: 10px;
}

footer{
  background-color: #fd6e0a;
  text-align: center;
  color: white;
  padding: 80px;
}